
.header {
    background: linear-gradient(to right, #f43b48 0%, #453a94 100%);
    left: 0;
   // position: fixed;
    right: 0;
    top: 0;
    z-index: 1052;
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
