
    <nav class="navbar navbar-dark bg-dark mb-5 header">
        <a class="navbar-brand" href="/" style="max-width: 3%;padding:0px;">
          <img src="../../../assets/img/logo4.png" class="img-fluid" >
        </a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="'home'">Home</a>
            <a class="nav-item nav-link active" [routerLink]="'about'">About</a>
            <a class="nav-item nav-link" [routerLink]="'/products'">Products</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" [routerLink]="'/cart'">Cart
               <span class="badge badge-danger ml-2">4</span>
            </a>
          </div>
        </div>
   
    
        <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/slider44" target="_blank">
              <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/gslyde" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://facebook.com/laguardia" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
           
          </div>
        </div>
      </nav>

