<div class="container">
    <!-- <div class="row"> -->
      <div class="col-md-8">
        <section id="what-i-do">
          <div class="row">
            <div class="col-md-12">
              <header>
                <h2>What I can do.</h2>
              </header>
              <article>
                <div id="design" class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <div class="home-design-info">
                      <figure class="profile-header-img">
                        <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
                      </figure>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="deets">
                      <h3>Design what you want.</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque nulla,
                        iaculis
                        iaculis laoreet et,
                        auctor eu dui. In in libero non mi condimentum posuere vel vitae lectus.
                        Suspendisse
                        rutrum
                        mauris nulla</p>
                    </div>
                  </div>
                </div>
  
                <div id="develop" class="row">
                  <div class="col-md-6 col-md-pull-3">
                    <div class="deets">
                      <h3>Develop what you need.</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque nulla,
                        iaculis
                        iaculis laoreet et,
                        auctor eu dui. In in libero non mi condimentum posuere vel vitae lectus.
                        Suspendisse
                        rutrum
                        mauris nulla</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-md-push-7">
                    <div class="home-dev-info">
                      <figure class="profile-header-img">
                        <img class="img-circle" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" />
                      </figure>
                    </div>
                  </div>
  
                </div>
              </article>
            </div>
          </div>
        </section>
      <!-- </div> -->
    </div>
  
  
  </div>

  <!-- <div [@changeState]="currentState" class="myblock mx-auto"></div> -->