
:host {
 
  background: #f3f3f3;
  border: 1px solid;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 5px 10px #9C2D15;
  border-radius: 4px;
  margin-left: 200px;
  overflow: hidden
}


.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #51D2B7;
  border-radius: 50%;
}

  