<div class="container">
    <div class="row">
        <div class="col col-4 my-3 p-3 rounded box-shadow">
            <div>
                <ul class="social-btns center-block">
                    <li>
                        <button routerLink="/about/cv" routerLinkActive="active" class="btn btn-personal"><i class="fa fa-venus pull-left"
                                aria-hidden="true"></i>
                            Personal
                        </button>
                    </li>
                    <li>
                        <button routerLink="/about/cv" routerLinkActive="active" class="btn btn-personal"><i class="fa fa-briefcase pull-left"
                                aria-hidden="true"></i>
                            Work Experience
                        </button>
                    </li>

                    <li>
                        <button routerLink="/about/skills" routerLinkActive="active" class="btn btn-personal"><i class="fa fa-desktop pull-left"
                                aria-hidden="true"></i>
                           Skills
                        </button>
                        </li>

                    <li>
                        <button routerLink="/about/cv" routerLinkActive="active" class="btn btn-personal"><i class="fa fa-graduation-cap pull-left"
                                aria-hidden="true"></i>
                            Trainings
                        </button>
                    </li>

                    <li>
                        <button routerLink="/about/cv" routerLinkActive="active" class="btn btn-personal"><i class="fa fa-gamepad pull-left"
                                aria-hidden="true"></i>
                            Hobbies
                        </button>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col col-8">
            <div class="container">
                <div class="col col-12">
                    
                    <router-outlet ></router-outlet>
                </div>

            </div>
        </div>
    </div>
</div>